:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #221D23;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav, .nav-mobile{
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  padding-left: 1.5em;
  position: fixed;
  top: 10%;
  left: 0;
  align-items: flex-start;
  font-size: 16px;
}

.nav-mobile img{
  padding-left: 0.5em;
  width: 25px;
}

.nav-mobile img:hover, .nav a:hover{
  filter: drop-shadow(0 0 1em #A0E8AF);
}

.nav-mobile{
  display: none;
}

a {
  font-weight: 500;
  color: #A0E8AF;
  text-decoration: inherit;
}
a:hover {
  color: #3AB795;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.1em;
  margin-top: 0em;
}

h3{
  color:#A0E8AF;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.clicked{
  padding-right: 1em;
  filter: drop-shadow(0 0 0.6em #A0E8AF);
  color: #3AB795
}

@media (max-width: 970px){
  .nav{
    display: none;
  }

  .nav-mobile{
    display: flex;
  }
}
