.entry, .section{
    text-align: left;
}

.section{
    padding: 1em;
    width: 75%;
}

.list-item{
    padding-top: 0.5px;
    padding-left: 1em;
    margin: 0;
}

.list-item p{
    margin-top: 0.5px;
}

@media (max-width: 980px){
    .list-item{
        padding-left: 0em;
    }
}