.contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon .logo{
    height: 50px;
    width: 50px;
}

